In [6]:
a=int(input("input a number lesser than 34 -- "))
if a<34 :
    print("data input is lesser than 34 and correct")

input a number lesser than 34 -- 24
data input is lesser than 34 and correct

In [9]:
a=int(input("input a number lesser than 34 -- "))
if a<34 :
    print("data input is lesser than 34 and correct")
else:
    print("data is greater than 34 and incorrect")

input a number lesser than 34 -- 56
data is greater than 34 and incorrect

In [12]:
a=int(input("input a number lesser than 34 -- "))
if a<34 :
    print("data input is lesser than 34 and correct")
elif a<100:
    print("data is lesser than 100")
else:
    print("data is greater than 34 and incorrect")

input a number lesser than 34 -- 120
data is greater than 34 and incorrect

In [46]:
salary = int(input("enter your salary"))
if salary > 1000:
    print("your salary is good")
    if salary < 5000 :
        print("I will go for nano")
        if True:
            print("false code")
    elif salary < 10000 :
        print("I will go for maruti")
    else :
        print("I will go for toyota")
elif salary > 500 :
    print("I will buy a bike")
elif salary > 100 :
    print("I will not buy anything")
else :
    print ("I will go for saving")

enter your salary22
I will go for saving

In [47]:
a=10
b=20

if a==10 and b==20:
    print("this is a valid statement")

this is a valid statement

In [48]:
a==10 and b==20

True

In [49]:
a==10

True

In [50]:
b==20

True

In [55]:
a=10
b=20

if a==10 and b>20:
    print("this is a valid statement")
elif a==10 and b<=20 :
    print("this statement is valid inside elif")
else :
    print("condition is not valid")

this statement is valid inside elif

In [52]:
a==10 and b>20

False

In [59]:
a=10
b=20

if a==10 or b>20:
    print("this is a valid statement")
elif a==10 and b<=20 :
    print("this statement is valid inside elif")
else :
    print("condition is not valid")

this is a valid statement

In [60]:
c=input()
d=input()

Sach
Kara

In [61]:
c

'Sach'

In [73]:
type(d)

str

In [83]:
c=input("Input First Name :")
d=input("Input Last Name: ")
if c=="Sach" and d=="Kara" :
    print("correct first and last name")
elif c=="Sach" and d!="Kara":
    print("correct first name, incorrect last name")
elif c!="Sach" and d=="Kara":
    print("incorrect first name, correct last name")
else :
    print("incorrect first and last name")

Input First Name :Sach
Input Last Name: Kara
correct first and last name

In [91]:
initial_speed=0
final_speed=100
count = 1

while initial_speed < final_speed :
    print("speed within range")
    count = count +1
    if count == 10 :
        break

speed within range
speed within range
speed within range
speed within range
speed within range
speed within range
speed within range
speed within range
speed within range

In [93]:
i=1
j=5

while i<j :
    print(i)
    i=i+1

1
2
3
4

In [2]:
#Live Class

In [3]:
a=10

In [4]:
if a<15:
    print("my name is sach")

my name is sach

In [6]:
if 5<10:
    print("10 is than 3")
else:
    print("if statement is wrong")

10 is than 3

In [9]:
income=100
if income <50:
    print("I will be able to buy phone")
elif income <70:
    print("I will be able to buy car")
elif income<90:
    print("I will be able to rent a house")
else:
    print("I won't be able to buy anything")

I won't be able to buy anything

In [10]:
income=int(input())
if income <50:
    print("I will be able to buy phone")
elif income <70:
    print("I will be able to buy car")
elif income<90:
    print("I will be able to rent a house")
else:
    print("I won't be able to buy anything")

10
I will be able to buy phone

In [14]:
Total_price=int(input())
if Total_price>20000:
    discount=Total_price*.20
    print("Discount will be ",discount)
elif Total_price<=7000:
    discount=Total_price*0.05
    print("Discount will be ",discount)
else:
    print("won't be able to give discount")

10000
won't be able to give discount

In [17]:
coup=input()
if coup=="SACH5":
    print("You will be able to get discount of 5%")
    paid_amount=7000-7000*0.05
    print("you will be able to get one neuron with this amount ",paid_amount)
else:
    print("kindly use valid coupon code")

SACH5
You will be able to get discount of 5%
you will be able to get one neuron with this amount  6650.0

In [26]:
study_hour=int(input())
if study_hour<1:
    print("It may take 8-9 month of time to make transition")
elif study_hour<4 and study_hour>1:
    print("It may take 6 months for transition")
elif study_hour>10:
    print("It will take 3 months of time for transition")
else:
    print("It will be difficult")

6
It will be difficult

In [27]:
a=9
if a==9: print("valid")

valid

In [47]:
s=input("enter a string to start")
if s=="oneneuron":
    course=input("enter a course name")
    if course=="DSA":
        print("yes it's available under oneneuron and in multiple mode for job preparation and core concept")
    elif course=="Blockchain":
        print("This is not available. Raise demand and will fulfill in 60 days")
    elif course=="FSDS":
        print("It's availbale and you can start learning")
    else:
        print("kindly raise your demand")
elif s=="oneneuronservice":
    service=input("enter a service name")
    if service=="courserequest":
        print("Raise course request demand and will fulfill in 60 days")
    elif service=="module":
        print("Raise module demand and will fulfill in 60 days")
    elif service=="doubt":
        print("Raise doubt demand and will fulfill in 60 days")
    elif service=="workwithus":
        print("Raise workwithus demand and will fulfill in 60 days")
    else:
        print("kindly provide us feedback")
else:
    print("kindly contact ineuron")

enter a string to start
kindly contact ineuron

In [48]:
l=[1,2,3,4,5,6]
for i in l :
    print(i)

1
2
3
4
5
6

In [49]:
i

6

In [53]:
s="sach"
for i in s:
    print(i)

s
a
c
h

In [54]:
t=(1,2,3,4,5,6)

In [55]:
for i in t:
    print(i)

1
2
3
4
5
6

In [62]:
l=[1,4,5.6,4+5j,"sach",True]
for i in l:
    print(type(i),i)

<class 'int'> 1
<class 'int'> 4
<class 'float'> 5.6
<class 'complex'> (4+5j)
<class 'str'> sach
<class 'bool'> True

In [79]:
l=[1,4,5.6]
l1=[]
for i in l:
    l1.append(i+2)
    print(l1)
print("###########")
print(l1)

[3]
[3, 6]
[3, 6, 7.6]
###########
[3, 6, 7.6]

In [64]:
i

5.6

In [68]:
l1

[3, 6, 7.6]

In [85]:
l2=[2,45,45.65,5+8j,True,[5,6,7,5.6,"kara"]]
for i in l2:
    if type(i)==int:
        print(i)
    elif type(i) == list:
        for j in i :
            if type(j)==int:
                print(j)

2
45
5
6
7

In [ ]:
l3=[2,45,78,12,"sach",6+7j,[5,6,78,"sach"]]
#q1. try to print index of all element
#q2. try to extract all the list of char if element is string
#q3. try to return a list after doing a square of all the int element

In [164]:
l3=[2,45,78,12,12,12,"sach","kara",6+7j,[5,6,78,"sach"]]
l4=[]
l5=[]
print("""Index of Element using Index function: """)
for i in l3:
    print(l3.index(i))
       
print("""
Index of Element using Range function: """)
for i in range(len(l3)):
    print(i,",",l3[i])

print("""
Index of Element using Enumerate function: """)
for i in enumerate(l3):
    print(i)

print("""
List of char""")
for i in l3:
    if type(i)==str:
        for j in i:
            l5.append(j)
        print(l5)
    elif type(i)==list:
        for k in i:
            if type(k)==str:
                for l in k:
                    l5.append(l)
print(l5)
        
print("""
List after doing a square""")
for i in l3:
    if type(i)==int:
        l4.append(i*i)
print(l4)

Index of Element using Index function:
0
1
2
3
3
3
6
7
8
9

Index of Element using Range function:
0 , 2
1 , 45
2 , 78
3 , 12
4 , 12
5 , 12
6 , sach
7 , kara
8 , (6+7j)
9 , [5, 6, 78, 'sach']

Index of Element using Enumerate function:
(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 'sach')
(7, 'kara')
(8, (6+7j))
(9, [5, 6, 78, 'sach'])

List of char
['s', 'a', 'c', 'h']
['s', 'a', 'c', 'h', 'k', 'a', 'r', 'a']
['s', 'a', 'c', 'h', 'k', 'a', 'r', 'a', 's', 'a', 'c', 'h']

List after doing a square
[4, 2025, 6084, 144, 144, 144]

In [98]:
range(4)

range(0, 4)

In [104]:
for i in enumerate(l3):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 'sach')
(7, (6+7j))
(8, [5, 6, 78, 'sach'])

In [105]:
for i,j in enumerate(l3):
    print(i,j)

0 2
1 45
2 78
3 12
4 12
5 12
6 sach
7 (6+7j)
8 [5, 6, 78, 'sach']

In [3]:
l=["name","emailid","phone no.","address"]
for i in l:
    print(i+" :sach")

name : sach
emailid : sach
phone no. : sach
address : sach

In [5]:
s="ineuron"
for i in s:
    print(i)

i
n
e
u
r
o
n

In [6]:
l

['name', 'emailid', 'phone no.', 'address']

In [9]:
for i in l:
    print(i)
else :
    print("once for loop is complete itself then it will come to else")

name
emailid
phone no.
address
once for loop is complete itself then it will come to else

In [10]:
l

['name', 'emailid', 'phone no.', 'address']

In [21]:
for i in l:
    if i == "address":
        break
    print(i)
else:
    print("check this statement")

name
emailid
phone no.

In [28]:
s="sach"
for i in s:
    if i=="h":
        break
    print(i)
else:
    print("don't execute unless not printing my name")

s
a
c

In [42]:
a=1
while a<6:
    print(a)
    a=a+1

1
2
3
4
5

In [51]:
a=1
while a<10:
    print(a)
    if a==4:
        break
    a=a+1

1
2
3
4

In [52]:
a=1
while a<5:
    print(a)
    a=a+1
    if a==3:
        continue

1
2
3
4

In [59]:
a=1
while a<5:
    break

In [65]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [68]:
list(range(0,7))

[0, 1, 2, 3, 4, 5, 6]

In [70]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [75]:
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [80]:
list(range(4,10,-1))

[]

In [82]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [83]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [104]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("sach ", end= "")
    print("\r")

sach
sach sach
sach sach sach
sach sach sach sach
sach sach sach sach sach

In [105]:
l=[1,2,3,4,5,3,45,78]
for i in l:
    print (i)

1
2
3
4
5
3
45
78

In [106]:
t=(1,2,3,4,5,3,45,78)
for i in t:
    print (i)

1
2
3
4
5
3
45
78

In [107]:
s="sach"
for i in s:
    print(i)

s
a
c
h

In [111]:
t=(1,2,3,4,5,3,45,78)
for i in range(len(t)):
    print(i, t[i])

0 1
1 2
2 3
3 4
4 5
5 3
6 45
7 78

In [120]:
t=(1,2,3,4,5,3,45,78)

In [122]:
list(range(len(t),0,-1))

[8, 7, 6, 5, 4, 3, 2, 1]

In [126]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

78
45
3
5
4
3
2
1

In [140]:
d = {"a" : "apple", "b" : "ball"}

In [135]:
type(d)

dict

In [144]:
for i in d:
    print(i,d[i])

a apple
b ball

In [145]:
s={3,646,646,646,787,898,87,878,4,5,6,6}

In [146]:
s

{3, 4, 5, 6, 87, 646, 787, 878, 898}

In [150]:
for i in s:
    print(i)

898
3
4
5
646
6
878
787
87